@font-face {
    font-family: "PT Sans"; 
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}
img {
    display: block;
    margin: 0 auto;
}
.navigation {
    display: flex;
    margin: 0 auto;
}
.wrapper {
    padding-left: 71px;
    padding-right: 71px;
}
.wrapper-logo {
    position: relative;
    z-index: 1;
    margin-bottom: -5px;
}
.navigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    margin-right: auto;
    padding: 0;
    max-width: 457px;
    width: 100%;
}
.navigation-item {
    margin-right: 33px;
}
.navigation-link {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding-top: 19px;
    padding-bottom: 20px;
}
.navigation-user {
    margin-left: auto;
    margin-right: 0;
    justify-content: flex-end;
    align-items: center;
}
.navigation-user-link {
    display: block;
    margin-left: 20px;
    text-decoration: none;
}
.navigation-link-search {
    display: block;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    /*margin-top: 24px;*/
}
.navigation-link-favorites {
    position: relative;
    width: 31px;
    height: 27px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: left 5px;
}
.favorites-number {
    position: relative;
    top: -5px;
    right: 0;
    display: inline-block;
    padding: 4px 6px;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.1em;
    background-color: #7db54f;
    border-radius: 50%;
}
.navigation-link-button {
    width: 160px;
    padding: 9px;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
}
.main-container {
    flex-grow: 1;
    margin: 0 auto;
}
.greetings {
    background-image: url("../img/vector.svg") ,url("../img/header.jpg");
    background-size: 100%, cover;
    background-repeat: no-repeat;
    padding-top: 51px;
    padding-bottom: 83px;
    background-position: bottom;
}
.greetings img { 
    display: block;
    margin: 0 auto;
}
.advantages-header{
    text-align: center;
    max-width: 660px;
    margin: 0 auto; 
    padding-top: 63px;
}
.advantages {
    padding-top: 65px;
}
.advantages-header h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 23px;
}
.advantages-header p {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}
.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.advantages-general {
    display: flex;
}
.advantages-item {
    width: 100%;
}
.advantages-item-list {
    width: 400px;
    min-height: 384px;
    margin: 0;
    padding: 73px 85px 58px;
    text-align: center;
    color: #333333;
}
.advantages-item-list h3 {
    max-width: 172px;
    margin: 23px auto 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
}
.advantages-item-list p {
    margin-bottom: 30px;
}
.color-blue {
    color: #ffffff;
    background-color: #83b3d3;
}
.color-blue h3 {
    color: #ffffff;
}
.color-blue p {
    color: #ffffff;
}
.advantages-photo {
    width: 800px;
    height: 384px;
}
.advantages-recommendations {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.advantages-recommendations-item {
    padding-top: 87px;
    padding-bottom: 67px;
}
.advantages-recommendations-item h3 {
    margin-bottom: 20px;
}
.advantages-recommendations-item p {
    margin-bottom: 20px;
}
.advantages-list li:nth-child(odd):not(:first-child) {
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-list li:nth-child(even) {
    background-color: rgba(131, 179, 211, 0.2);
}
.advantages-recommendations li:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-recommendations li:nth-child(even) {
    background-color: rgba(255, 255, 255, 0);
}
.advantages-number {
    color: #333333;
}
.reservation {
    max-width: 590px;
    margin: 0 auto;
    padding-top: 57px;
    padding-bottom: 92px;
    text-align: center;
}
.reservation-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}
.reservation-date {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 59px;
}
.button-search {
    display: block;
    max-width: 576px;
    margin: 0 auto;
    padding: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #756257;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
}
.subscription {
    text-align: center;
    background-image: url("../img/footer.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 94px;
}
.subscription-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.subscription-text {
    max-width: 545px;
    margin: 15px auto;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
}
.subscription-form {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 32px;
}
.subscription-form button {
    flex-shrink: 0;
    width: 200px;
    padding: 20px 0 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background: #83B3D3;
    text-transform: uppercase;
    border: none;
    border-radius: 0 10px 10px 0;
}
.subscription-form input {
    width: 100%;
    padding: 15px 19px;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    border: none;
    border-radius: 10px 0 0 10px;

}
.page-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 40px;
    padding-bottom: 30px;
}
.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: auto;
    padding: 0;
    list-style: none;
    align-items: center;
}
.footer-social-item {
    margin-right: 25px;
}
.footer-social-item a {
    display: block;
    width: 20px;
    height: 25px;
}
.footer-social-item:last-child {
    margin-right: 0;
}
.footer-contacts {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}
.htmlacademy-link {
    width: 115px;
    margin-left: auto;
    color:#000000;
    text-decoration: none;
    text-align: center;
}
.foto-header-catalog {
    background-image: url("../img/catalog-header.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding-left: 72px;
    padding-right: 72px;
}
.side-indent {
    padding: 0 72px;
}
.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 35px;
}
.inner-navigation {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 45px;
    padding-left: 0;
}
.inner-button-item {
    margin-right: 26px;
}
.inner-button {
    background-image: url("../img/house_cat.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    padding: 17px;
    padding-left: 0;
    position: relative;
    background-position: center;
}
.options-filter-group {
    padding: 0;
}
.options-filter {
    display: flex;
    justify-content: space-between;
}
.options-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.options-filter-list {
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 0;
}
.options-filter-item {
    margin-bottom: 13px;
}
.control {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.control-input {
    width: 20px;
    height: 20px;
}
.flex-group {
    display: flex;
}
.options-button {
    display: flex;
    flex-direction: column;
}
.options-application {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
    text-transform: uppercase;
    padding: 17px 35px;
    border-radius: 4px;
}
.options-discharge {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.housing-options {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 45px;
}
.found {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-right: auto;
}
.select-control {
    color: #333333;
    font-size: 18px;
    line-height: 23px;
    margin-right: 81px;
    border-radius: 4px;
}
.show-cards {
    display: flex;
}
.button-cards {
    display: block;
    background-image: url("../img/cards.svg");
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    padding: 17px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    position: relative;
    background-position: center;
    margin-right: 8px;
}
.button-show-one {
    display: block;
    background-image: url("../img/one_cat.svg");
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    padding: 17px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    position: relative;
    background-position: center;
    margin-right: 8px;
}
.button-list {
    display: block;
    background-image: url("../img/list_cat.svg");
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    padding: 17px;
    border: 2px solid #000000;
    border-radius: 4px;
    position: relative;
    background-position: center;
}
.housing {
    padding-top: 31px;
    padding-bottom: 30px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #e6e6e6;
}
.housing-list {
    list-style-type: none;
    padding: 0;
}
.housing-info {
    display: grid;
    grid-template-columns: 180px 1fr 170px;
    gap: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E6E6E6;
}
.housing-info-img img {
    margin: 0;
    grid-column: 1 / 2;
}
.housing-info-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    margin: 0;
}
.housing-info-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}
.housing-info-view {
    margin-right: 57px;
}
.housing-info-legend {
    grid-column: 2 / 3;
}
.housing-info-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #756257;
    padding: 10px 20px;
    margin-right: 8px;
}
.button-housing-legend {
    margin-top: 25px;
}
.button-blue {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #83B3D3;
    padding: 10px 20px;
}
.button-grin {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #7DB54F;
    padding: 10px 20px;
}
.housing-rating-legend {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
}
.rating {
     display: flex;
    justify-content: center;
}
.rating-star {
    margin-right: 7px;
}
.housing-rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
    padding: 10px 34px;
    margin-top: 63px;
}
.button-download {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
    padding: 15px;
    max-width: 625px;
    margin: auto;
}
.pagination-link-pages {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
}
.pagination {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pagination-item {
    margin-right: 7px;
}
.pagination-link {
    display: block;
    min-width: 55px;
    padding: 14px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    border-radius: 4px;
}
.pagination-current {
    color: black;
    background-color: #E5E5E5;
}
.sorting-type {
}
.subscription-page {
    background: none;
}
.subscription-page .subscription-title {
    color: #000000;
}
.subscription-page .subscription-text {
    color: #333333;
}
.subscription-page input {
    background-color: #f2f2f2;
}
.inner-navigation {
    display: flex;
}
