@font-face {
    font-family: "PT Sans"; 
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
    background-color: #f2f2f2;
}
body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}
img {
    display: block;
    margin: 0 auto;
}
.navigation {
    display: flex;
    margin: 0 auto;
}
.wrapper {
    padding-left: 71px;
    padding-right: 71px;
}
.wrapper-logo {
    position: relative;
    z-index: 1;
    margin-bottom: -5px;
    margin-left: 10px;
}
.wrapper-logo-catalog:focus {
    outline: 3px solid #83B3D3;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.navigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    margin-left: -10px;
    margin-right: auto;
    padding: 0;
    max-width: 457px;
    width: 100%;
}
.navigation-item {
    position: relative;
    margin-right: 8px;
}
.navigation-link {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 6px 12px;
    margin-top: 12px;
}
.navigation-link:hover {
    color: #756257;
}
.navigation-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}
.navigation-link:active {
    color: #756257;
    opacity: 0.3;
    outline: none;
}
.navigation-link-active::before {
    position: absolute;
    right: 12px;
    bottom: 0;
    left: 12px;
    height: 2px;
    background-color: #756257;
    content: "";
}
.navigation-user {
    position: relative;
    margin-left: auto;
    margin-right: 0;
    justify-content: flex-end;
    align-items: center;
}
.navigation-user-link {
    display: block;
    text-decoration: none;
    padding: 10px;
}
.navigation-user-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}
.navigation-user-link:active {
    color: #756257;
    opacity: 0.3;
    outline: none;
}
.navigation-user-link:hover {
    fill: #756257;
}
.navigation-link-search {
    display: block;
    /*margin-top: 24px;*/
}
.navigation-link-favorites {
    position: relative;
}
.favorites-number {
    position: absolute;
    top: 1px;
    right: -4px;
    display: inline-block;
    padding: 4px 6px;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.1em;
    background-color: #7db54f;
    border-radius: 50%;
    color: #FFFFFF;
}
.navigation-link-button {
    display: block;
    margin-left: 24px;
    width: 160px;
    padding: 9px;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
}
.navigation-link-button:hover {
    background-color: #615048;
    color: #FFFFFF;
}
.navigation-link-button:focus {
    outline: 3px solid #83B3D3;
}
.navigation-link-button:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}
.main-container {
    flex-grow: 1;
    margin: 0 auto;
}
.greetings {
    position: relative;
    background-image: url("../img/vector.svg") ,url("../img/header.jpg");
    background-size: 100%, cover;
    background-repeat: no-repeat;
    padding-top: 51px;
    padding-bottom: 83px;
    background-position: bottom;
}
.greetings img { 
    display: block;
    margin: 0 auto;
}
.advantages-header{
    text-align: center;
    max-width: 660px;
    margin: 0 auto; 
    padding-top: 63px;
}
.advantages {
    padding-top: 59px;
}
.advantages-header h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}
.advantages-header p {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}
.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.advantages-general {
    display: flex;
}
.advantages-item {
    width: 100%;
}
.advantages-item-list {
    width: 400px;
    min-height: 384px;
    margin: 0;
    padding: 73px 85px 58px;
    text-align: center;
    color: #333333;
}
.advantages-item-list h3 {
    max-width: 172px;
    margin: 23px auto 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
}
.advantages-item-list p {
    margin-bottom: 30px;
}
.color-blue {
    color: #ffffff;
    background-color: #83b3d3;
}
.color-blue h3 {
    color: #ffffff;
}
.color-blue p {
    color: #ffffff;
}
.advantages-photo {
    width: 800px;
    height: 384px;
}
.advantages-recommendations {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.advantages-recommendations-item {
    padding-top: 87px;
    padding-bottom: 67px;
}
.advantages-recommendations-item h3 {
    margin-bottom: 20px;
}
.advantages-recommendations-item p {
    margin-bottom: 20px;
}
.advantages-list li:nth-child(odd):not(:first-child) {
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-list li:nth-child(even) {
    background-color: rgba(131, 179, 211, 0.2);
}
.advantages-recommendations li:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-recommendations li:nth-child(even) {
    background-color: rgba(255, 255, 255, 0);
}
.advantages-number {
    color: #333333;
}
.reservation {
    max-width: 590px;
    margin: 0 auto;
    padding-top: 57px;
    padding-bottom: 92px;
    text-align: center;
}
.reservation-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}
.reservation-date {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 59px;
    margin-right: 14px;
    text-indent: 15px;
}
.button-search {
    display: block;
    max-width: 576px;
    margin: 0 auto;
    padding: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #756257;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
}
.button-search:hover {
    background-color: #615048;
}
.button-search:focus {
    outline: 3px solid #83B3D3;
}
.button-search:active {
    color: rgba(255, 255, 255, 0.3);
}
.subscription {
    text-align: center;
    background-image: url("../img/footer.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 94px;
}
.subscription-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.subscription-text {
    max-width: 545px;
    margin: 15px auto;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
}
.subscription-form {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 32px;
}
.subscription-form button {
    flex-shrink: 0;
    width: 200px;
    padding: 20px 0 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background: #83B3D3;
    text-transform: uppercase;
    border: none;
    border-radius: 0 10px 10px 0;
}
.subscription-form button:hover {
    background-color: #68A2CA;
    cursor: pointer;
}
.subscription-form button:focus {
    outline: 3px solid #756257;
}
.subscription-form button:active {
    color: rgba(255, 255, 255, 0.3);
}
.subscription-form input {
    width: 100%;
    padding: 15px 19px;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    border: 2px solid transparent;
    border-radius: 10px 0 0 10px;
}
.subscription-form input:hover {
    background-color: #E6E6E6;
}
.subscription-form input:focus {
    outline: 3px solid #83B3D3;
    background-color: #E6E6E6;
 }
.error {
    border: 2px solid #FF5757;
}
.page-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 22px;
    padding-bottom: 15px;
    padding-left: 60px;
}
.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    padding: 0;
    list-style: none;
}
.footer-social-item {
    margin-right: 5px;
}
.footer-social-item a {
    display: flex;
    width: 40px;
    height: 40px;
}
.social-icon {
    fill: #83B3D3;
    margin: auto;
    
}
.footer-social-item a:hover .social-icon {
    fill: #68A2CA;
}
.footer-social-item a:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}
.footer-social-item a:active {
    color: #68A2CA;
    opacity: 0.3;
    outline: none;
}

.footer-social-item:last-child {
    margin-right: 0;
}
.footer-contacts {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    padding: 15px;
    margin-left: 15px;
}
.footer-contacts:hover {
    color: #756257;
}
.footer-contacts:focus {
    box-shadow: inset 0 0 0 3px #83B3D3;
    outline: none;
    border-radius: 10px;
    color: #756257;
}
.footer-contacts:active {
    color: #756257;
    opacity: 0.3;
    box-shadow: none;
}
.htmlacademy-link {
    position: relative;
    width: 160px;
    height: 70px;
    padding-left: 22px;
    margin-left: auto;
    margin-right: -21px;
    color:#000000;
    text-decoration: none;  
    
}
.htmlacademy-svg {
    position: absolute;
    top: 20px;
}
.htmlacademy-link:hover .htmlacademy-svg {
    fill: #756257;
}
.htmlacademy-link:focus .htmlacademy-svg {
    fill: #756257;
}
.htmlacademy-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}
.htmlacademy-link:active .htmlacademy-svg {
    fill: #756257;
    opacity: 0.3;
}
.htmlacademy-link:active {
    outline: none;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);;
}
.modal-container-close {
    display: none;
}
.modal {
    position: relative;
    margin: auto;
    padding: 70px;
    padding-top: 62px;
    background-color: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}
.modal-form {
    width: 715px;
}
.modal-close-button {
    position: absolute;
    padding: 0;
    top: 54px;
    right: 70px;
    width: 53px;
    height: 53px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 50%;
    background-position: center;
    cursor: pointer;
}
.modal-close-button:hover {
    background-color: #E6E6E6;
}
.modal-close-button:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}
.modal-close-button:active svg {
    fill: #000000;
    opacity: 0.3;
    outline: none;
}
.modal-close-button:active {
    outline: none;
}
.modal-title {
    margin: 0;
    margin-bottom: 32px;
    padding-bottom: 32px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
}
.foto-header-catalog {
    background-image: url("../img/catalog-header.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding-left: 72px;
    padding-right: 72px;
}
.side-indent {
    padding: 0 72px;
}
.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 31px;
}
.inner-navigation {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    list-style-type: none;
    margin: 0;
    margin-bottom: 35px;
    padding-left: 0;
    position: relative;
}
.inner-button-item {
    padding-right: 39px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center right 8px;
}
.inner-button-item:last-child {
    background-image: none;
}
.inner-button-item:hover {
    opacity: 0.6;
}
.inner-button:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}
.inner-button {
    background-image: url("../img/house_cat.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    top: -3px;
    left: -3px;
    position: absolute;
    background-position: center;
    padding: 11px;
}
.options-filter-group {
    padding: 0;
    padding-right: 57px;
    margin-bottom: 20px;
    border: none;
}
.options-filter {
    display: flex;
}
.options-filter-title {
    padding-top: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.options-filter-list {
    padding-right: 97px;
    list-style-type: none;
    margin-top: 29px;
    margin-bottom: 64px;
    padding: 0;
}
.options-filter-item {
    position: relative;
    display: block;
    padding-left: 38px;
    margin-bottom: 13px;
}
.control-input[type="checkbox"]:checked + .control-mark {
    background-image: url("../img/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.control-mark, .control-mark-radio {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.options-filter-item:hover .control-mark {
    background-color: #FFFFFF;
    opacity: 0.6;
}
.control-input:focus ~ .control-mark {
    outline: 3px solid #83B3D3;
    background-color: rgba(255, 255, 255, 0.6);;
}
.options-filter-item:active .control-mark {
    background-color: #FFFFFF;
    opacity: 0.3;
}
.control-input-radio[type="radio"] + .control-mark-radio {
    border-radius: 50%;
}
.control-input-radio[type="radio"]:checked + .control-mark-radio {
    background-image: url("../img/radio.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.options-filter-item:hover .control-mark-radio {
    background-color: #FFFFFF;
    opacity: 0.6;
}
.control-input-radio:focus ~ .control-mark-radio {
    outline: 3px solid #83B3D3;
}
.options-filter-item:active .control-mark-radio {
    background-color: #FFFFFF;
    opacity: 0.3;
    outline: none;
}
.control {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.flex-group {
    margin-left: 109px;
}
.options-general {
    position: relative;
}
.options-price-general {
    display: flex;
    margin-top: 34px;
    border-radius: 4px
}
.options-filter-price {
    position: relative;
}
.options-filter-input {
    width: 144px;
    background-color: transparent;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    border: 2px solid #fff;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px 40px 11px 17px;
}
.options-filter-input[type="number"] {
    -moz-appearance: textfield;
}
.options-filter-input::-webkit-outer-spin-button,
.options-filter-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.options-filter-input:hover {
    border: 2px solid rgba(255,255,255,.6);
}
.options-filter-input:focus {
    outline: 3px solid #83b3d3;
    box-shadow: inset 0 0 0 3px #81b3d2;
}
.options-filter-input:active {
    background: #756257;
    outline: none;
}
.options-filter-input-min {
    border-radius: 4px 0px 0px 4px;
}
.options-filter-input-max {
    border-radius: 0px 4px 4px 0;
}
.filter-absolute {
    position: absolute;
    top: 13px;
    right: 14px;
    opacity: 0.3;
}
.range-scale {
    position: relative;
    height: 4px;
    margin-top: 29px;
    background-color: #808080;
}
.range-bar {
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
}
.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.range-toggle:hover {
    background-color: #FFFFFF;
}
.range-toggle:focus {
    outline: 3px solid #83B3D3;
}
.range-toggle:active {
    outline: 2px solid #83B3D3;
}
.toggle-min {
    top: -9px;
    left: 0;
}
.toggle-max {
    top: -9px;
    right: -9px;
}
.options-button {
    display: flex;
    flex-direction: column;
    margin-top: 68px;
    margin-left: auto;
}
.options-application {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 29px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
}
.options-application:hover {
    background-color: #68A2CA;
}
.options-application:focus {
    background-color: #68A2CA;
    outline: 3px solid #FFFFFF;
}
.options-application:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}
.options-discharge {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100px;
    margin-left: 32px;
}
.options-discharge:hover {
    opacity: 0.6;
}
.options-discharge:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}
.options-discharge:active {
    color: rgba(255, 255, 255, 0.3);
    border: none;
}
.housing-options {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 42px;
}
.found {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 4px;
    margin: 0;
    margin-right: auto;
}
.select-legend {
    position: relative;
    display: flex;
    align-items: center;
    width: 287px;
    margin-left: auto;
    margin-right: 73px;
}
.select-control {
    width: 100%;
    padding: 11px 19px;
    border: 2px solid #E6E6E6; 
    border-radius: 4px;
    background-position: right 16px center;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    background-color: #ffffff;
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select-control:hover {
    border-color:  #83B3D3;
}
.select-control:focus {
    border-color:  #83B3D3;
    outline: none;
}
.select-legend:active {
    opacity: 0.3;
}
.show-cards {
    display: flex;
}
.button {
    display: block;
    width: 48px;
    height: 48px;
    padding: 17px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 8px;
}
.button:hover {
    border: 2px solid #83B3D3;
 }
 .button:focus {
    border: 2px solid #83B3D3;
    outline: none;
 }
.button-cards {
    background-image: url("../img/cards.svg");
 }
 .button-show-one {
    background-image: url("../img/one_cat.svg");
 }
 .button-list {
    background-image: url("../img/list_cat.svg");
 }
 .button-active {
    border: 2px solid #000000;
    border-radius: 4px;
 }
.housing {
    padding-top: 11px;
    padding-bottom: 28px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #e6e6e6;
}
.housing-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 28px;
}
.housing-info {
    display: grid;
    grid-template-columns: 180px 1fr 160px;
    gap: 38px;
    margin-bottom: 28px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E6E6E6;
}
.housing-info-img {
    height: 120px;
}
.housing-info-img:hover {
    opacity: 0.6;
}
.housing-info-img:focus {
    outline: 3px solid #83B3D3;
}
.housing-info-img:active {
    opacity: 0.3;
    outline: none;
}
.housing-info-title a {
    text-decoration: none;
    color: #000000;
}
.housing-info-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    margin: 0;
}
.housing-info-title a:hover {
    color: #756257;
}
.housing-info-title a:focus {
    outline: 3px solid #83B3D3;
    color: rgb(117, 98, 87);
    border-radius: 4px;
}
.housing-info-title a:active {
    color: #756257;
    opacity: 0.3;
    outline: none;
}
.housing-info-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}
.housing-info-view {
    display: inline-block;
    width: 152px;
}
.housing-info-button {
    width: 151px;
    display: inline-block;
    padding: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background: #756257;
    border: 0;
    border-radius: 4px;
    margin-right: 5px;
}
.housing-info-button:hover {
    background-color: #615048;
}
.housing-info-button:focus {
    outline: 3px solid #83B3D3;
    background-color: #615048;
}
.housing-info-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #615048;
    outline: none;
}
.button-housing-legend {
    margin-top: 29px;
}
.button-favorites {
    display: inline-block;
    width: 160px;
    padding: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background: #83b3d3;
    border: 1px solid transparent;
    border-radius: 4px;
}
.button-favorites:hover {
    background-color: #68A2CA;
    border: 1px solid #756257;
}
.button-favorites:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}
.button-favorites:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
    border: 1px solid #756257;
    outline: none;
}
.button-favorites-active { 
    background-color: #7db54f;
}
.button-favorites-active:hover {
    background-color: #6c9e42;
}
.button-favorites-active:focus {
    background-color: #6c9e42;
    outline: 3px solid #756257;
}
.button-favorites-active:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #6c9e42;
}
.housing-rating-legend {
    display: flex;
    flex-direction: column;
}
.rating {
    display: flex;
    justify-content: center;
    padding-top: 4px;
}
.rating-star {
    margin-right: 7px;
}
.housing-rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
    padding: 10px 32px;
    margin: auto 0 0;
    border-radius: 4px;
}
.button-download {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
    padding: 16px;
    max-width: 625px;
    margin: auto;
}
.button-download:hover {
    background-color: #68A2CA;
}
.button-download:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}
.button-download:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}
.pagination-link-pages {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
}
.pagination {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pagination-item {
    margin-right: 8px;
}
.pagination-link {
    display: block;
    min-width: 55px;
    padding: 14px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    border-radius: 4px;
}
.pagination-link:hover {
    background-color: #68A2CA;
}
.pagination-link:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}
.pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #68A2CA;
    outline: none;
}
.pagination-current {
    color: black;
    background-color: #E5E5E5;
}
.sorting-type {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.select-control-sorting {
    width: 160px;
    padding: 11px 17px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background-position: right 16px center;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    background-color: #ffffff;
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 51px;
}
.select-control-sorting:hover {
    border-color: #83B3D3;
}
.select-control-sorting:focus {
    border-color:  #83B3D3;
    outline: none;
}
.select-control-sorting:active {
    opacity: 0.3;
}
.sorting-type svg {
    position: absolute;
    right: 20px;
    fill: #000000;
    opacity: 0.3;
    background-position: right 16px center;
}
.subscription-page {
    background: none;
    padding-bottom: 138px;
}
.subscription-page .subscription-title {
    color: #000000;
}
.subscription-page .subscription-text {
    color: #333333;
}
.subscription-page input {
    background-color: #f2f2f2;
}
.inner-navigation {
    display: flex;
}
.popover {
    position: absolute;
    top: 62px;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 400px;
    min-height: 232px;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: none;
}
.popover-content {
    position: relative;
    height: 100%;
}
.cart-items-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.cart-item {
    display: flex;
    margin-top: 14px;
    margin-right: 25px;
    
    margin-bottom: 13px;
    margin-left: 12px;
}
.cart-item img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0;
    margin-right: 17px;
}
.cart-item-general {
    flex-direction: column;
}
.cart-item-general p {
    margin: 0;
}
.cart-item-button {
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-left: auto;
    cursor: pointer;
    width: 36px;
    height: 36px;
}
.cart-item-button svg {
    fill: #000000;
    opacity: 0.3;
}
.cart-item-button svg:hover {
    fill: #000000;
    opacity: 1;
}
.cart-item-button:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}
.cart-item-button:active {
    color: #000000;
    opacity: 0.2;
    outline: none;
}
.cart-item-title {
    font-weight: 700;
    font-size: 18px;
}
.cart-item-text {
    font-size: 16px;
    color: #333333;
}
.cart-button-download {
    position: absolute;
    right: -1px;
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 0px 0px 20px 20px;
    color: #FFFFFF;
    background-color: #756257;
    text-align: center;
    padding: 16px;
    width: 400px;
    height: 60px;
}
.cart-button-download:hover {
    background-color: #615048;
}
.cart-button-download:focus {
    background-color: #615048;
    outline: 3px solid #83B3D3;
}
.cart-button-download:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}
.cart-item-link {
    display: flex;
    text-decoration: none;
    color: #000000;
    padding: 10px;
}
.cart-item-link:hover {
    color: #000000;
    opacity: 0.6;
}
.cart-item-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
    opacity: none;
}
.cart-item-link:active {
    color: #000000;
    opacity: 0.3;
    outline: none;
}
.popover::before {
    position: absolute;
    top: -7px;
    right: 195px;
    z-index: 2;
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    box-shadow: -1px -1px 0px #E4E4E4;
    content: "";
    transform: rotate(45deg);
}
.field-group {
    display: flex;
    margin-bottom: 18px;
}
.appointment-form-entry, .appointment-form-departure {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.form-label {
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
}
.field {
    width: 420px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 4px;
    border: none;
    padding: 0 17px 5px 19px;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
}
.field:hover {
    background-color: #E6E6E6;
}
.field:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}
.field-error {
    color: #FF5757;
    font-size: 16px;
}
.field-text {
    font-size: 16px;
    color: #333333;
}
.svg-date {
    position: absolute;
    top: 16px;
    right: 18px;
    fill: #000000;
    opacity: 0.3;
    cursor: pointer;
}
.field-legend {
    position: relative;
    display: flex;
    justify-content: start;
    padding-bottom: 20px;
}
.field-number {
    position: relative;
    width: 133px;
    height: 50px;
    background-color: #F2F2F2;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    border: none;
}
.label-adults {
    margin-right: 73px;
}
.number-adults {
    margin-right: 56px;
}
.info {
    position: absolute;
    top: 11px;
    right: 152px;
    width: 25px;
    height: 25px;
    background-image: url("../img/info.svg");
    background-repeat: no-repeat;
    background-color: #83B3D3;
    border-radius: 50%;
    border: none;
    background-position: center;
    cursor: pointer;
}
.info:hover {
    background-color: #68A2CA;
}
.label-children {
    margin-right: 55px;
}
.button-appointment-form {
    display: block;
    width: 575px;
    text-decoration: none;
    background-color: #83B3D3;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.button-appointment-form:hover {
    background-color: #68A2CA;
}
.button-appointment-form:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}
.button-appointment-form:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}
.legend-plus-minus {
    position: absolute;
    cursor: pointer;
    border: none;
    width: 25px;
    height: 25px;
    padding: 0;
}
.legend-plus-minus:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}
.field-svg {
    fill: #000000;
    opacity: 0.3;
}
.legend-plus-minus:hover .field-svg {
    fill: #000000;
    opacity: 1;
}
.legend-plus-minus:active .field-svg {
    fill: #000000;
    opacity: 0.2;
    
}
.legend-plus-minus:active {
    outline: none;
}
.adults-plus {
    top: 12px;
    left: 250px;
}
.adults-minus {
    top: 10px;
    left: 170px;
}
.children-plus {
    top: 12px;
    right: 17px;
}
.children-minus {
    top: 10px;
    right: 95px;
}

.appointment-form-children {
    position: relative;
}
.popover-info {
    position: absolute;
    top: 52px;
    right: 36px;
    width: 256px;
    min-height: 143px;
    padding: 22px;
    padding-top: 18px;
    background-color: #333333;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
}
.popover-info::before {
    position: absolute;
    top: -7px;
    right: 121px;
    z-index: 1;
    width: 15px;
    height: 15px;
    background-color: #333333;
    content: "";
    transform: rotate(45deg);
}
.popover-content-info {
    margin: 0;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
}
